GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
JWT_SECRET=discoverjourney_jwt_secret_change_me
MONGODB_URI=mongodb://localhost:27017/discoverjourney
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
NODE_ENV=development
